{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block content %}
	<div class="flex flex-col items-center gap-y-12">
		<div class="header rounded-2xl shadow-3xl mt-16 bg-cyan-800">
			<h1 class="text-3xl">🔭 Star Feature Predictor</h1>
		</div>

		<div class="main bg-cyan-800 text-md">
			<p>Welcome to the Star Feature Predictor – an intelligent tool that helps you predict missing features of stars using machine learning!</p>
			<p>Enter any known properties like mass, radius, temperature, or luminosity – and our model will predict the unknown values for you with high accuracy.</p>
			<p>Whether you're a student, researcher, or astronomy enthusiast, this tool makes stellar predictions easier than ever.</p>
			<div class="flex justify-center">
				<a class="button bg-cyan-600 hover:bg-cyan-700" href="/prediction_options">Start Predicting</a>
			</div>
		</div>
	</div>
{% endblock content %}